meta(charset="UTF-8")
//- meta(name="viewport", content="width=device-width, initial-scale=1.0")
//- 新增 maximum-scale=1.0, user-scalable=0 防止手機點擊表單畫面放大
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

//- 教學用網站，因此設置此 meta 防止瀏覽器索引
meta(name="robots" content="noindex, nofollow")

//- 防止 Iphone 自訂偵測電話，影響樣式
meta(name="format-detection" content="telephone=no")
meta(http-equiv="x-rim-auto-match" content="none")

//- FB 縮圖資訊，偵錯及預覽工具 https://developers.facebook.com/tools/debug/
meta(property="og:type", content="website")
meta(property="og:url", content=`${baseUrl}${basePath}${path}`)
meta(property="og:image", content=`${baseUrl}${basePath}${ogImage}`)


//- SEO :description 80字尤佳
//- meta(roperty="og:description", content="個人作品網站，分享與改變世界")
//- meta(name="description" content="個人作品網站，分享與改變世界")
meta(roperty="og:description", content = description )
meta(name="description" content = description)

//- <Page Title> - <Site Name>｜<Info Title>
//- SEO :title 30字尤佳
//- 因為首頁沒有 pageTitle，會多出橫線，所以要做判斷
//- meta(property="og:title", content="ZOWIE PoRtFolio 左一平面作品收錄 | 個人作品網站，分享與改變世界")
//- title ZOWIE_PORTFOLIO

//- 三元判斷式 如果是 ? 就 "這個": 不是就"那個"; 
- pageTitle = pageTitle ? `${pageTitle} - ` : '';
meta(roperty="og:title", content=`${pageTitle}${siteName}｜${infoTitle}`)
title #{pageTitle}#{siteName}｜#{infoTitle}


//- 網頁 icon，複製進來的語法，要將資料夾前的 / 刪除
link(rel="icon" type="image/png" href=`${basePath}/favicon/favicon-96x96.png` sizes="96x96")
link(rel="icon" type="image/svg+xml" href=`${basePath}/favicon/favicon.svg`)
link(rel="shortcut icon" href=`${basePath}/favicon/favicon.ico`)
link(rel="apple-touch-icon" sizes="180x180" href=`${basePath}/favicon/apple-touch-icon.png`)
meta(name="apple-mobile-web-app-title" content="ZOWIE")
link(rel="manifest" href=`${basePath}/favicon/site.webmanifest`)


//- script 通常是引入在 body 裡的最後面(被動)
//- 但 iconify 需要在 head 引入，因為即時性
script(src="https://code.iconify.design/iconify-icon/2.2.0/iconify-icon.min.js")

//- 引入連結
//- css 引入也有順序，通常插件在自定義的 style 上面
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)


//- 選擇編寫 網站需要的文字字重，可避免載入太多資料導致網頁變慢
link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;0,700;1,700&family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet")

link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous")

link(rel="stylesheet", href=`${basePath}/css/style.css`)

link(rel="stylesheet", href="https://unpkg.com/lenis@1.1.19/dist/lenis.css")

