-
  const artistList = [
    {
      name: '9m88',
      img: `${basePath}/img/lineup/lineup01.jpg`
    },
    {
      name: '恆月三途',
      img: `${basePath}/img/lineup/lineup02.jpg`,
      size: 'lg'
    },
    {
      name: 'Beyound Cure',
      img: `${basePath}/img/lineup/lineup03.jpg`,
      direction: 'reverse',
      size: 'lg'
    },
    {
      name: 'Dudu King',
      img: `${basePath}/img/lineup/lineup04.jpg`,
      direction: 'reverse'
    },
    {
      name: 'Da Wang',
      img: `${basePath}/img/lineup/lineup05.jpg`,
      direction: 'reverse'
    }
  ];